<h2><%= @import.title %></h2>

<hr/>

<h5>Todos Imported:</h5>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Due at</th>
      <th>Private</th>
      <th>Trashed</th>
      <th>Creator</th>
      <th>Assignee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @import.todos %>
  </tbody>
</table>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
