// Enter Neat
body {
  background-color: #f9f8f6;
}

section {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}

aside {
  color: #e85100;
  font-family: 'Helvetica Neue', 'helvetica', sans-serif;
  font-weight: 200;
  padding: 1em 0;
}

article {
  border-left: 1px solid #eee;
  padding: 1em;
  font-family: 'Helvetica Neue', 'helvetica', sans-serif;
  font-weight: 200;

  a {
    color: orange;
  }
}

.actions {
  margin: 1.5em 0;
}

#content {
  margin-top: 1em;
  border-radius: 6px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: 1px solid #d8d1c0;
  padding: 2em;
  height: calc(85vh - 10px);
}

#switch {
  margin-top: .8em;
}

.field {
  margin-bottom: 1em;
}

// Overriding Bourbon
label, select {
  display: inline;
  margin-bottom: .75em;
}

.flash,
.flash-success,
.flash-notice,
.flash-error,
.flash-warning {
  margin-top: 1em;
  margin-bottom: 0;
}