<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Due at</th>
      <th>Private</th>
      <th>Trashed</th>
      <th>Creator</th>
      <th>Assignee</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render todo, collection: @todos %>
  </tbody>
</table>
