<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Due at</th>
      <th>Private</th>
      <th>Trashed</th>
      <th>Creator</th>
      <th>Assignee</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @todos %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
